*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    background: url("/img/background.jpg");
    background-size: cover;
    font-family: sans-serif;
}
li{
    list-style: none;
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.key{
    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
    
}
kbd {
    display: block;
    font-size: 3rem;
}
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
}
.play{
    border-color:#ffc600;
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.1);
}
li:hover,
li:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ffc600;
  transform: translateY(-0.25em);
}